* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#centerContainer {
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.squaresContainer {
    
    border: black solid 1px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

#squaresContainer {
    
    border: black solid 1px;
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 10%;
    height: 10%;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.blue {
    background-color: blue;
}